.about {
  margin-bottom: 20px;

  .card {
    max-width: 400px;
    max-height: 600px;
    // border-top-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    box-shadow: var(--shadow-lg);
    overflow: hidden;
    border-radius: 10px;
    // -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    // -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    // box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    background-image: url(../images/arys.jpg);
    background-size: cover;
    background-position: center;
  }

  /* Informations */
  .info {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #fff;
    transform: translateY(105%) translateY(-88px) translateZ(0);
    transition: transform 0.3s ease-out;
    color: var(--bg-color);
  }

  /* Background of informations */
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/arys.jpg);
    filter: blur(4px);
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    transform: translateY(-105%) translateY(88px) translateZ(0);
    transition: transform 0.3s ease-out;
  }

  /* Title and description of our card */
  .title {
    margin: 0;
    padding: 15px;
    font-size: 28px;
    line-height: 28px;
  }

  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
  }

  /* Card's hover */
  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__info {
    // max-width: 550px;
    max-height: 600px;
    background: var(--dark);
    border-radius: 15px;
    padding: 20px;
    // padding-top: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &__subtitle {
    color: var(--acc-color);
    border-left: 3px solid var(--acc-color);
    padding-left: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    // backdrop-filter: blur(10px);
  }

  &__title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    font-family: var(--font-unbounded);
    margin-bottom: 20px;
  }

  &__text {}

  &__span {
    background: var(--acc-color);
    padding: 5px 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 60px;
    left: -120px;
    font-size: 24px;
    font-family: var(--font-unbounded);
    color: var(--dark);
  }

  &__img {
    img {
      max-width: 400px;
      max-height: 500px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: var(--shadow-lg);
    }

  }
}