.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.gallery {
  margin-bottom: 120px;


  .gallery__title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font-unbounded);
    margin-bottom: 20px;

    span {
      color: var(--acc-color);
    }
  }

  .gallery__btn {
    text-align: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 10px 20px;
  }

  .gallery__text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;

    &:hover {
      flex: 7;
    }
  }



  .social {
    position: absolute;
    right: 35px;
    bottom: 0;

    img {
      display: block;
      width: 32px;
    }
  }
}