// @import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');
.wrapper-slider {
  position: relative;
  width: 100%;
  margin: auto;
  color: #262626;
  background: black;

  .item {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-inline: 2rem;

    picture {
      display: block;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        inset: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .video {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        inset: 0;
        z-index: 1;
      }
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      inset: 0;
    }
  }

  .parent-text {
    padding: 3rem 2rem;
    position: relative;
    z-index: 2;
    color: white;

    .info-text {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    h2 {
      text-transform: uppercase;
      font-size: 3.9rem;
      font-weight: 300;
    }

    p {
      font-size: 2.1rem;
      font-weight: 300;
    }

    a {
      width: 100%;
      max-width: 17.2rem;
      height: 5.5rem;
      font-size: 1.4rem;
      margin-top: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      text-decoration: none;
      duration: .3s ease;

      &:hover {
        background: #ebebeb;
        color: #4c4c4c;
      }
    }
  }

  .swiper-pagination {
    width: 100%;
    bottom: 5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding-inline: 4rem;

    .svg-icon {
      width: 1.5rem;
      height: 1.5rem;

      path {
        fill: white;
      }
    }

    .swiper-pagination-bullet {
      color: white;
      opacity: 1;
      width: initial;
      height: initial;
      background: transparent;

      button {
        background: transparent;
        border: 0;
        display: flex;
        cursor: pointer;
      }
    }

    .bullet-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      position: absolute;
      z-index: 1;
    }
  }
}

.percentage {
  --colorf3: #1C69D4;
  --color13: #1C69D4;
  width: 3.4rem;
  aspect-ratio: 1;
  mask: radial-gradient(transparent 55%, black 60% 100%);
  -webkit-mask: radial-gradient(transparent 55%, black 60% 100%);
  transition: opacity 0.6s ease;
  opacity: 0;
  background: conic-gradient(transparent 0,
      transparent var(--p),
      #c9d6d7 0),
    conic-gradient(var(--colorf3),
      #1C69D4,
      #1C69D4,
      #1C69D4,
      var(--colorf3)),
    conic-gradient(transparent, transparent 10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.show {
    opacity: 1;
  }

  .number {
    width: 80%;
    aspect-ratio: 1;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    background: white;
    border-radius: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    color: var(--color13);
  }
}