@import "_normalize.scss";
@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_libs.scss";
@import "_banner.scss";
@import "_slder.scss";
@import "_about.scss";
@import "_count.scss";
@import "_services.scss";
@import "_form-text.scss";
@import "_advantages.scss";
@import "_stages.scss";
@import "_gallery.scss";
@import "_blog.scss";
@import "_clients.scss";
@import "developing.scss";
@import "accordions.scss";
@import "footer.scss";


@import "_media.scss";